PyQt5
PyQtWebEngine
mpld3
folium
xlsxwriter
fitz
PyMuPDF
numpy
python-docx
googlemaps
pdf2image
pytesseract
git+https://github.com/uqfoundation/dill.git@master
git+https://github.com/uqfoundation/pathos.git@master